@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box; 
}
body{
    font-family: 'Roboto',sans-serif;
}  
/* Header starts */

.header__right{
    color:rgb(96, 96, 96);
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 15px;
}
.header__left{
    display: flex;
    align-items: center;
}
.header__left img{
    width: 100px;
    margin-left: 0.5rem;
}
.header i{
    padding: 0 7px;
    cursor: pointer;
}
.header__middle form{
    border: 1px solid #ddd;
    height: 35px;
    margin: 0;
    padding: 0;
    display: flex;

}
.header__middle input{
    width:500px;
    padding:10px;
    margin:0;
    border-radius: 0px;
    border: none;
    height: 100%;
}
.header__middle button{
    padding:0;
    margin: 0;
    height: 100%;
    border: none;
    border-radius: 0;
}

/* Header ends */

/* Mainbody starts */
.mainbody{
    display: flex;
    height: calc(100vh - 70px);
}

/* sidebar starts */
.sidebar{
    height: 100%;
    width: 230px;
    background-color: white;
    overflow-y: auto;
}
.sidebar__categories{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 15px;
}
.sidebar__category{
    display: flex;
    align-items: center;
    padding: 12px 25px;
}
.sidebar__category span{
    margin-left: 15px;
}
.sidebar__category:hover{
background-color: #e5e5e5;
cursor: pointer;
}
.sidebar::-webkit-scrollbar{
    display:none;
}
hr{
    height: 1px;
    background-color: #e5e5e5;
    border: none;
}
/* videos */
.videos {
    background-color: #f9f9f9;
    width: 100%;
    height: 100%;
    padding: 15px 25px;
    border-top: 1px solid #ddd;
    
}
.video__container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}
.video{
    width: 310px;
    margin-right: 5px;
    margin-bottom: 30px;
    margin-left: 5px;
}
.video__thumbnail{
    width: 100%;
    height: 170px;
}
.video__thumbnail img{
    object-fit: cover ;
    height: 100%;
    width: 100%;

}
.author img{
    object-fit: cover;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 10px;
}
.video__details{
    display: flex;
    margin-top: 10px;
}
.title {
    display: flex;
   flex-direction: column;
}
.title h3{
    color: rgb(3, 3, 3);
    line-height: 18px;
    font-size: 14px;
    margin-bottom: 6px;
}
.title a,
.title span{
    text-decoration: none;
    color: rgb(96, 96, 96);
    font-size: 14px;
}
h1{
    font-size: 20px;
    margin-bottom: 10px;
    color: rgb(3, 3, 3);
}

/* sidebar ends */
